<included>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--日志文件的配置参数，在bootstrap-common-XXX配置文件中-->
    <springProperty scope="context" name="PATH" source="logback.path"/>
    <springProperty scope="context" name="MAX_HISTORY" source="logback.maxHistory"/>
    <springProperty scope="context" name="MAX_FILE_SIZE" source="logback.maxFileSize"/>
    <springProperty scope="context" name="TOTAL_SIZE_CAP" source="logback.totalSizeCap"/>
    <springProperty scope="context" name="SERVICE_NAME" source="logback.serviceName"/>

<!--    <springProperty scope="context" name="CONFIG_LOG_FILE" value="${PATH}/${SERVICE_NAME}/CONFIG_LOG_FILE/CONFIG_LOG_FILE-%d{yyyy-MM-dd}.%i.log.gz"/>-->

    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger:%L - %msg%n"/>
    <property name="log.pattern.stdout" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %green([%thread]) %logger:%L - %msg%n"/>

    <!-- 日志记录器，日期滚动记录 -->
    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${PATH}/${SERVICE_NAME}/error.log</file>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PATH}/${SERVICE_NAME}/error/error-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--最多保存的天数-->
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!-- 总日志大小 -->
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
            <charset class="java.nio.charset.Charset">utf-8</charset>
        </encoder>
        <!-- 此日志文件只记录info级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 日志记录器，日期滚动记录 -->
    <appender name="file_warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${PATH}/${SERVICE_NAME}/warn.log</file>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PATH}/${SERVICE_NAME}/warn/warn-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--最多保存的天数-->
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!-- 总日志大小 -->
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
            <charset class="java.nio.charset.Charset">utf-8</charset>
        </encoder>
        <!-- 此日志文件只记录info级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 日志记录器，日期滚动记录 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${PATH}/${SERVICE_NAME}.log</file>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PATH}/${SERVICE_NAME}/all/all-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--最多保存的天数-->
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!-- 总日志大小 -->
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
            <charset class="java.nio.charset.Charset">utf-8</charset>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <!--%green,%red是日志显示的颜色，要用小括号-->
            <pattern>${log.pattern.stdout}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

</included>
