<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <include resource="logback-file-include.xml"/>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
        <appender-ref ref="file_warn"/>
        <appender-ref ref="file_error"/>
    </root>

</configuration>
