[submodule "support-dependencies/tools/deploy"]
	path = support-dependencies/tools/deploy
	url = git@github.com:iuin8/deploy.git
	branch = iuin-mall
[submodule "support-dependencies/configs/secrets"]
	path = support-dependencies/configs/secrets
	url = git@github.com:iuin8/secrets.git
	branch = iuin-mall
[submodule "support-dependencies/tools/remote-plugin"]
	path = support-dependencies/tools/remote-plugin
	url = git@github.com:iuin8/remote-plugin.git
	branch = main
