<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="log.pattern" value="${APP_NAME}:${ServerIP}:${ServerPort} %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{sw_ctx}] [%thread] %logger:%L - %msg%n" />
    <property name="log.pattern.stdout" value="%d{HH:mm:ss.SSS} %highlight(%-5level) [%X{sw_ctx}] %green([%thread]) %logger:%L - %msg%n" />

    <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
        <!-- add TID(traceId) field -->
        <provider class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.logstash.TraceIdJsonProvider">
        </provider>
        <!-- add SW_CTX(SkyWalking context) field -->
        <provider class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.logstash.SkyWalkingContextJsonProvider">
        </provider>
    </encoder>

    <!-- add converter for %tid -->
    <conversionRule conversionWord="tid" converterClass="org.apache.skywalking.apm.toolkit.log.logback.v1.x.LogbackPatternConverter"/>
    <!-- add converter for %sw_ctx -->
    <conversionRule conversionWord="sw_ctx" converterClass="org.apache.skywalking.apm.toolkit.log.logback.v1.x.LogbackSkyWalkingContextPatternConverter"/>

    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
            <timestamp>
                <timeZone>UTC</timeZone>
            </timestamp>
            <pattern>
                <pattern>
                    {
                    "level": "%level",
                    "tid": "%tid",
                    "skyWalkingContext": "%sw_ctx",
                    "thread": "%thread",
                    "class": "%logger{1.}:%L",
                    "message": "%message",
                    "stackTrace": "%exception{10}"
                    }
                </pattern>
            </pattern>
        </providers>
    </encoder>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <pattern>${log.pattern.stdout}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="grpc-log" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <pattern>${log.pattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="grpc-log"/>
    </root>

</configuration>
