<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <include resource="logback-file-include.xml"/>

    <!--日志文件的配置参数，在bootstrap-common-XXX配置文件中-->
    <springProperty scope="context" name="LOGGING_LOGSTASH" source="logging.logstash"/>
    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>

    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger:%L - %msg%n"/>
    <property name="log.pattern.stdout"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %green([%thread]) %logger:%L - %msg%n"/>

    <appender name="sw_stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <Pattern>${log.pattern.stdout}</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="sw_grpc_log" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <Pattern>${log.pattern}</Pattern>
            </layout>
        </encoder>
    </appender>

    <!--    logstash配置-->
    <appender name="ls_tcp" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGGING_LOGSTASH}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
<!--                <provider class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.logstash.TraceIdJsonProvider"/>-->
<!--                <provider class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.logstash.SkyWalkingContextJsonProvider"/>-->
                <mdc/>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "tid": "%X{tid}",
                        "sw_ctx": "%X{sw_ctx}",
                        "thread": "%thread",
                        "class": "%logger{1.}:%L",
                        "message": "%message",
                        "stackTrace": "%exception{10}",
                        "app_name": "${spring.application.name}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="sw_stdout"/>
        <appender-ref ref="sw_grpc_log"/>
        <appender-ref ref="ls_tcp"/>

<!--        <appender-ref ref="stdout"/>-->
        <appender-ref ref="file"/>
        <appender-ref ref="file_warn"/>
        <appender-ref ref="file_error"/>
    </root>

</configuration>
